.add-to-cart-btn {
    display: inline-block;
    background-color: #f33f3f;
    color: white;
    padding: 10px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    /*transition: background-color 0.3s ease;*/
    transition: .3s ease-in-out;
    position: relative;
    overflow: hidden;
    /*font-weight: 700;*/
}

.add-to-cart-btn:hover {
    background-color: #f33f3f;
}
.add-to-cart-btn:active {
    transform: scale(.9);
}

.add-to-cart-btn .fa-cart-shopping {
    position: absolute;
    z-index: 2;
    top: 50%; left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}
.add-to-cart-btn .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%; left: 52%;
    font-size: 1.2em;
    transform: translate(
        -50%, -50%);
    color: #FFFFFF;
}

.add-to-cart-btn span {
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa ngang */
    align-items: center; /* Căn giữa dọc */
    text-align: center; /* Căn giữa chữ */
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em; /* Điều chỉnh kích cỡ chữ */
    color: #FFFFFF;
    /*font-weight: bold;*/
    line-height: normal; /* Đảm bảo khoảng cách dòng */
    flex-wrap: wrap; /* Tự động xuống dòng khi cần */
    word-break: break-word; /* Chia chữ nếu cần thiết */
    height: 100%; /* Đảm bảo chiều cao tràn hết khối */
    width: 100%; /* Đảm bảo chiều rộng khớp với nút */
    padding: 0; /* Xóa khoảng cách thừa */
    margin: 0; /* Xóa khoảng cách thừa */
}

.add-to-cart-btn span .add-to-cart {
    opacity: 1;
}

.add-to-cart-btn span.added {
    opacity: 0;
}

.add-to-cart-btn.clicked .fa-cart-shopping {
    animation: truck 2s ease-in-out forwards;
}

.add-to-cart-btn.clicked .fa-box {
    animation: box 2s ease-in-out forwards;
}

.add-to-cart-btn.clicked span.add-to-cart {
    animation: txt1 2s ease-in-out forwards;
}

.add-to-cart-btn.clicked span.added {
    animation: txt2 2s ease-in-out forwards;
}

@keyframes truck {
    0% { left: -10%; }
    40%,
    55% { left: 50%; }
    100% { left: 110%; }
}

@keyframes box {
    0%,
    40% { top: -20%; left: -5%; }
    55% { top: 37%; left: 52%; }
    100% { top: 37%; left: 110%; }
}

@keyframes txt1 {
    0% { opacity: 1; }
    20%,
    100% { opacity: 0; }
}

@keyframes txt2 {
    0%,
    80% { opacity: 0; }
    100% { opacity: 1; } 
}